.customer-logos-container.clear-background
  %p
    Used by more than 100,000 organizations around the globe
  .logos-container
    - data.organizations.each do |org|
      - if org.landing == true
        = partial "#{org.logo}"
  .see-all-link
    %a{ href: "/customers/" }
      See all customers →
