@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.blank-header {
  padding-bottom: 180px;
}

.gitlab-content-container {
  transform: translateY(-220px);

  @media all and (max-width: $screen-sm-min) {
    transform: translateY(-170px);
  }
}

.contact-tiles {

  .tile {

    @media all and (max-width: $screen-lg-min) {
      margin-bottom: 30px;
    }
  }

  img {
    height: 30px;
    margin-bottom: 10px;
  }

  h4 {
    color: $color-black;
  }

  p {
    color: $color-gray;
  }
}

.contact-content {
  margin-top: 0;

  @media all and (max-width: $screen-sm-min) {
    margin-top: 20px;
    transform: translateY(0);
    margin-bottom: 0;
  }

}

.newsletter-form-content {
  padding-right: 30px;

  .mktoAsterix,
  .mktoLabel {
    display: none !important;
  }

  .mktoForm {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: inherit !important;
    font-size: 16px !important;
    margin-top: 30px !important;
    padding: 0 !important;
    color: rgb(51, 51, 51);
  }

  .mktoFormRow {
    order: 1;
    display: none;

    &:nth-child(14),
    &:nth-child(2) {
      display: flex;
    }

    .mktoLogicalField {
      width: 100% !important;
      margin-top: 20px !important;
      font-size: 14px;
    }

  }

  .mktoFormRow:nth-child(2) {
    order: 1;
    width: 100% !important;
    margin-bottom: 0 !important;
    height: 100% !important;
    margin-right: 0 !important;

    @media all and (max-width: $screen-sm-min) {
      margin-right: 0 !important;
      max-width: 100%;
    }

  }

  @media all and (max-width: $screen-sm-min) {
    flex-wrap: wrap;
    margin-top: 30px !important;
    height: 100% !important;
  }

  .mktoButtonRow {
    height: 100% !important;
    order: 10;
    margin-top: 10px !important;


    @media all and (max-width: $screen-sm-min) {
      width: 100% !important;
    }

  }

  .mktoFormRow {
    margin-bottom: 0 !important;

    @media all and (max-width: $screen-sm-min) {
      margin-bottom: 10px !important;
    }

  }

  .mktoFormCol {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 0 !important;
  }

  .mktoButtonWrap {
    margin: 0 !important;
    height: 100% !important;
  }

  .mktoGutter,
  .mktoOffset {
    width: 0 !important;
  }

  .mktoEmailField {
    width: 100% !important;
  }

  .mktoField,
  .mktoFieldWrap {
    width: 100% !important;
    height: 100% !important;
  }

  .mktoForm input[type=text],
  .mktoForm input[type=url],
  .mktoForm input[type=email],
  .mktoForm input[type=tel],
  .mktoForm input[type=number],
  .mktoForm input[type=date],
  .mktoForm select.mktoField,
  .mktoForm textarea.mktoField {
    font-family: inherit !important;
    -webkit-appearance: none !important;
    background-color: $color-white !important;
    box-shadow: $box-shadow !important;
    padding: $input-padding !important;
    border: 1px solid transparent !important;
    border-radius: $border-radius-large !important;
    width: 100% !important;
    height: 100% !important;
  }

  .mktoForm input[type=text]:focus,
  .mktoForm input[type=url]:focus,
  .mktoForm input[type=email]:focus,
  .mktoForm input[type=tel]:focus,
  .mktoForm textarea.mktoField:focus {
    border: 1px solid $color-gray-light !important;
  }

  .mktoField,
  .mktoButton {
    width: 100% !important;
    height: 100% !important;
  }

  .mktoButton {
    height: 100% !important;
    white-space: nowrap !important;
    background-color: $color-primary !important;
    background-image: none !important;
    border: none !important;
    border-bottom: none !important;
    color: $color-white !important;
    padding: 12px 24px !important;
    font: inherit !important;
    font-family: inherit !important;
    text-shadow: none !important;

    @media all and (max-width: $screen-sm-min) {
      width: 100% !important;
    }

  }

  .mktoButton:hover {
    opacity: .8 !important;
  }

  .hint-message {
    color: $color-gray-light;
    margin-top: 60px;
    margin-bottom: 0;

    @media all and (max-width: $screen-md-min) {
      margin-top: 0;
      margin-bottom: 10px;
    }

  }

  p:last-child:hover {
    opacity: .8;
  }
}
