---
layout: default
title: Hackathon
description: "Landing page for GitLab Hackathon"
suppress_header: true
extra_css:
  - contributing.css
---
.wrapper
  .simple-header
    %h1 GitLab Hackathon
    %p
    :markdown
      The next Hackathon is February 12-13, 2019!
  #content
    .wrapper.container.contributing-content{role: "main"}
      .block
        .block-content
          %h2.block-title Introduction
          :markdown
            GitLab Hackathon is a virtual event that takes place once a quarter where community members get together to work on merge requests, participate in tutorial sessions, and also to help new community members. The event is open to anyone who are interested in contributing code, documentation, translations, UX design, etc. to GitLab. Prizes are awarded to participants for having Merge Requests (MRs) merged and there may also be special award categories at each Hackathon. The main communication channel during the Hackathon is the [GitLab Community room in Gitter](https://gitter.im/gitlabhq/community).  
            
            If you want to get more familiar with how you can contribute to GitLab, please visit the [Contributing to GitLab page](https://about.gitlab.com/contributing/). 

      .block
        .block-content
          %h2.block-title Q1'2019 Hackathon (February 12-13)
          
          %p
            See the
            %a{href: "https://about.gitlab.com/2019/01/14/q1-hackathon-announcement/"} event announcement blog post. 

          %h3.block-title Hackathon Prizes
          :markdown 
            We are excited to offer three categories of prizes for this Hackathon. Similar to past Hackathons, everyone with an MR merged (by February 25th) will recieve a `Merged MR` prize and the individual with the most MRs merged will receive the `Grand Prize`.  
            
            We also have a new category called `Priority MR's` and this is to encourage community contribution on important issues that were identified by GitLab Product Managers. If you have your MR merged for one of these issues, you will receive this extra prize. A community member can only win one `Priority MR's` prize, so we ask you to only work on one of these issues. You will find the list of `Priority MR's` issues following the prize images.
          %p  
          
          .row
            %p
          .row.prizes
            .col-sm-12
              .prize-image
                = image_tag "/images/community/hackathon/prizes.png", class: "img-responsive"
          %p
          %h3.block-title Priority MR's
          :markdown 
            The following are issues that we want to encourage community members to work on during the Hackathon. There are issues from several [product categories](https://about.gitlab.com/handbook/product/categories/), and we ask that each community member pick only one of these issues to work on. If you are interested in working on one of the issues during the Hackathon, please add a comment on the issue and note that you want to work on it. We may add more issues to the list prior to the Hackathon.    
          %p  
          %table.table
            %thead
              %tr
                %th
                   
                %th
                  Product category
                %th
                  Issues
                
            %tbody
              %tr
                %td
                  1 
                %td
                  Create
                %td
                  = link_to "Project custom file templates", "https://gitlab.com/gitlab-org/gitlab-ce/issues/26199"
              %tr
                %td
                  2 
                %td
                  Configure 
                %td
                  = link_to "Ingress deployment doesn't support non IP address formats", "https://gitlab.com/gitlab-org/gitlab-ce/issues/46691"
              %tr
                %td
                  3
                %td
                  Monitor
                %td
                  = link_to "Update cluster health empty state on cluster overview", "https://gitlab.com/gitlab-org/gitlab-ee/issues/7881"
              %tr
                %td
                  4
                %td
                  Plan
                %td
                  = link_to "Test cases and test suites", "https://gitlab.com/gitlab-org/gitlab-ce/issues/56215"  
              %tr
                %td
                  5
                %td
                  Release 
                %td
                  = link_to "Timer is vertically misaligned for delayed jobs in pipeline actions", "https://gitlab.com/gitlab-org/gitlab-ce/issues/52198"
              %tr
                %td
                  6
                %td
                  Verify
                %td
                  = link_to "Step folding - collapse job log into sections with duration", "https://gitlab.com/gitlab-org/gitlab-ce/issues/14664"
          
          %h3.block-title Tutorial sessions
          :markdown 
            We are excited to announce the following tutorial sessions featuring several GitLab Product Managers. If you miss any of the sessions, you will be able to find the recordings in [the Hackathon Playlist](https://www.youtube.com/playlist?list=PLFGfElNsQthapq-CyXBTVnT2yKqg1JrNh). The dial-in logistics for the tutorial sessions will be added shortly.     
          %p  
            
          %table.table
            %thead
              %tr
                %th
                  Date
                %th
                  Time in UTC
                %th
                  Topic
                %th
                  Speaker(s)
                
            %tbody
              %tr
                %td
                  February 12
                %td
                  08:00 - 08:30
                  = link_to "(find your local time)", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190212T08&p1=1440"
                %td  
                  Hackathon Kickoff
                %td
                  = link_to "Ray Paik (@rpaik),", "https://gitlab.com/rpaik" 
                  = link_to "Dave Planella (@dplanella)", "https://gitlab.com/dplanella"
              %tr
                %td
                   
                %td
                  14:00 - 14:30
                  = link_to "(find your local time)", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190212T14&p1=1440"
                %td
                  Manage
                %td
                  = link_to "Jeremy Watson (@jeremy)", "https://gitlab.com/jeremy"
              %tr
                %td
                    
                %td
                  14:30 - 15:00
                  = link_to "(find your local time)", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190212T1430&p1=1440"
                %td
                  Verify
                %td
                  = link_to "Brendan O'Leary (@brendan)", "https://gitlab.com/brendan"
              %tr
                %td
                  
                %td
                  18:30 - 19:00
                  = link_to "(find your local time)", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190212T1830&p1=1440"
                %td
                  Create
                %td
                  = link_to "James Ramsay (@jramsay)", "https://gitlab.com/jramsay"
              %tr
                %td
                  
                %td
                  19:00 - 19:30
                  = link_to "(find your local time)", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190212T19&p1=1440"
                %td
                  Configure
                %td
                  = link_to "Daniel Gruesso (@danielgruesso)", "https://gitlab.com/danielgruesso"
              %tr
                %td
                  February 13
                %td
                  23:00 - 23:30
                  = link_to "(find your local time)", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190213T23&p1=1440"
                %td
                  Hackathon wrap-up
                %td
                  = link_to "Ray Paik (@rpaik)", "https://gitlab.com/rpaik"      
          %p
          %h3.block-title Where to get help
          :markdown 
            For communications during the Hackathon, we will again use the [GitLab Community room in Gitter](https://gitter.im/gitlabhq/community). This is a channel designed to have community-related discussions and for community members to help each other as people have questions when contributing to GitLab. This is open to everyone, so please [join the room](https://gitter.im/gitlabhq/community) if you are not part of it already.
          %p    
      .block
        .block-content
          %h2.block-title Q4'2018 Hackathon (November 14-15)
          %p   
          
          %ul
            %li
              %a{href: "https://about.gitlab.com/2018/10/23/q4-hackathon-announcement/"} Event announcement blog post
            %li
              %a{href: "https://gitlab.com/gitlab-com/marketing/community-relations/contributor-program/hackathon/issues/9" } Hackathon prize winners
            %li
              %a{href: "https://about.gitlab.com/2018/11/29/q4-hackathon-recap/"} Event recap blog post              
            %li
              %a{href: "https://about.gitlab.com/community/hackathon/past-events.html#q42018-hackathon-november-14-15"} Hackathon materials
              
      .block
        .block-content
          %h2.block-title Past events
          %p 
            You can visit the 
            %a{href: "https://about.gitlab.com/community/hackathon/past-events.html"} past GitLab Hackathon page
            to learn more about previous Hackathon events.  
            
            