---
layout: default
title: Video - Going Cloud-Native
suppress_header: true
extra_css:
  - styles-2018.css
  - webcast.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline What you need to know about going Cloud-Native
        %h2.page-subtitle Cloud-Native isn’t just a buzzword — it’s a vision for how businesses can be more flexible, reduce their costs, increase collaboration and improve security.

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Cloud-native applications are purpose-built for the cloud model and they consist of loosely coupled services, making best use of the cloud computing model.
            %p Adopting a cloud-native approach to leverage the power of the cloud has a host of benefits, including saving time and money, but it also poses some risks and challenges for businesses.

            %h3 In this on demand webcast, GitLab CEO and co-founder Sid Sijbrandij shares:
            %ul
              %li The advantages of Cloud-Native development
              %li The challenges of becoming Cloud-Native
              %li GitLab’s Cloud-Native vision

            %p View the video now to find out how going Cloud-Native can make your business more flexible, reduce costs, increase collaboration, and improve security.


        .col-md-4.col-md-offset-1
          %h3.margin-top0 Watch the video
          %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'resources', mktoFormId: form.getId()});
                  return false;
                });
              });
        .confirmform{style: "visibility:hidden;"}
          .col-md-4.col-md-4.col-md-offset-1
            %a.btn.cta-btn.orange{ href: "https://www.youtube.com/watch?v=wtaOQY_ITvQ", target: "_blank" } Watch the video
            %p.margin-top20 You will also receive a link to the video sent to your inbox.
